@charset "UTF-8";
  /*基本样式开始*/
  html{
    height: 100%;
    /* overflow:hidden; */
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
ul{
   white-space:nowrap;
   list-style: none;
   padding: 0;
   margin: 0;
}
li{
  padding: 0 10px;
}
a{
  /* text-decoration:none !important; */
  color:white !important;
}
footer{
  height: 4%!important;
  background-color: #409EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer span{
  margin: 5px;
}
.splitpanes,.splitpanes__pane {
  background: white;
}

.splitpanes--vertical > .splitpanes__splitter {
  position: relative;
  min-width: 11px !important;
  background-color: #fff;
  cursor: ew-resize!important;
}
.splitpanes--horizontal > .splitpanes__splitter {
  position: relative;
  min-height: 11px!important;
  background-color: #fff;
  cursor: ns-resize!important;
}
.splitpanes--vertical > .splitpanes__splitter::before {
  margin-left: -2px;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
}
.splitpanes--vertical > .splitpanes__splitter::after {
  margin-left: 1px;
  transform: translateY(-50%);
  width: 1px;
  height: 30px; 
}
.splitpanes--horizontal > .splitpanes__splitter::before {
  margin-top: -2px;
  transform: translateX(-50%);
  width: 30px;
  height: 1px;
}
.splitpanes--horizontal > .splitpanes__splitter::after {
  margin-top: 1px;
  transform: translateX(-50%);
  width: 30px;
  height: 1px;
}
.splitpanes__splitter::after,.splitpanes__splitter::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0,0,0,.15);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    background-color: rgba(0,0,0,0.4);
}